* {
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    margin-bottom: 2vh;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #ff99c9;
}

.content {
    width: 80vw;
    height: 90vh;

    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;

    background-color: #56cbf9;
    border-radius: 25px;
}

.etch-tools {
    width: 10%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.size-option {
    width: 6vw;
    height: 3vw;

    border-radius: 15px;
    margin: 1vw;
}

#grid-container {
    width: 40vw;
    height: 40vw;
    display: grid;

    background-color: rgb(255, 198, 198);
    border: 0.5vw solid rgb(255, 225, 225);
    border-radius: 2%;
}

.etch-cell {
    float: left;

    background-color: rgb(245, 245, 245);
}

.etch-cell:hover {
    background-color: black;
}

.grid-lines {
    border: 0.01vw solid rgb(212, 211, 211);
}